*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#homeContainer
{
    border: 1px solid black;
    width: 100vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#createAccForm
{
    border: 1px solid black;
    width: 100vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    align-items:center;
}
a{
    text-decoration: none;
    border: 1px solid blue;
    min-width: 16%;
    min-height: 5%;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    background-color: blue;
    color: white;

}
a:hover{
    background-color: rgb(40, 40, 130);
}
#btn1
{
    min-width: 13%;
    min-height: 5%;
    position: absolute;
    margin-top:42%;
    margin-right: 87%;
    background-color: rgb(201, 82, 106);
    border:rgb(201, 82, 106) ;
    border-radius:5px ;
}
table{
    margin-top: 30%;
    border: 1px solid black;
    padding: 20px;
    line-height: 10px;
    border-radius: 5px;
}
#submitForm
{
    width: 50%;
    margin-left: 25%;
    background-color: darkslategrey;
    height: 7%;
    border-color:darkslategrey ;
    border-radius: 4px;
    color: white;
}
#submitForm:hover
{
    background-color: rgb(74, 117, 117) ;
    border-color: rgb(74, 117, 117) ;
}